<section id="faqs">
  <div class="container px-0 pb-5 pt-5">
    <div class="row">
      <div class="col-lg-8">
        <h3 class="faq-title pb-3">FREQUENTLY ASKED QUESTIONS</h3>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default py-2">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <span>Do I need a guide?</span>
                  <i class="far fa-minus float-right"></i>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse show">
              <div class="panel-body faq-answer">
                The Sabah State Park assigns the official guide who will accompany you up Mt Kinabalu, so the guide is not provided by the provider you choose to book through. But it's a good idea to book a local company to do all the logistical work such as obtaining permits, booking accommodation and arranging transportation as it will save you the headache of doing it on your own.
              </div>
            </div>
          </div>
          <div class="panel panel-default py-2">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  <span>Do I need to train up?</span>
                  <i class="far fa-plus float-right"></i>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body faq-answer">
                The Sabah State Park assigns the official guide who will accompany you up Mt Kinabalu, so the guide is not provided by the provider you choose to book through. But it's a good idea to book a local company to do all the logistical work such as obtaining permits, booking accommodation and arranging transportation as it will save you the headache of doing it on your own.
              </div>
            </div>
          </div>
          <div class="panel panel-default py-2">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  <span>What’s the best time to go?</span>
                  <i class="far fa-plus float-right"></i>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body faq-answer">
                The Sabah State Park assigns the official guide who will accompany you up Mt Kinabalu, so the guide is not provided by the provider you choose to book through. But it's a good idea to book a local company to do all the logistical work such as obtaining permits, booking accommodation and arranging transportation as it will save you the headache of doing it on your own.
              </div>
            </div>
          </div>
          <div class="panel panel-default py-2">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                  <span>How much time do I need?</span>
                  <i class="far fa-plus float-right"></i>
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body faq-answer">
                The Sabah State Park assigns the official guide who will accompany you up Mt Kinabalu, so the guide is not provided by the provider you choose to book through. But it's a good idea to book a local company to do all the logistical work such as obtaining permits, booking accommodation and arranging transportation as it will save you the headache of doing it on your own.
              </div>
            </div>
          </div>
          <div class="panel panel-default py-2">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                  <span>What will I be doing?</span>
                  <i class="far fa-plus float-right"></i>
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body faq-answer">
                The Sabah State Park assigns the official guide who will accompany you up Mt Kinabalu, so the guide is not provided by the provider you choose to book through. But it's a good idea to book a local company to do all the logistical work such as obtaining permits, booking accommodation and arranging transportation as it will save you the headache of doing it on your own.
              </div>
            </div>
          </div>
          <div class="panel panel-default py-2">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                  <span>What should I bring?</span>
                  <i class="far fa-plus float-right"></i>
                </a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
              <div class="panel-body faq-answer">
                The Sabah State Park assigns the official guide who will accompany you up Mt Kinabalu, so the guide is not provided by the provider you choose to book through. But it's a good idea to book a local company to do all the logistical work such as obtaining permits, booking accommodation and arranging transportation as it will save you the headache of doing it on your own.
              </div>
            </div>
          </div>
          <div class="panel panel-default py-2">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                  <span>Any tips for what to do in the area?</span>
                  <i class="far fa-plus float-right"></i>
                </a>
              </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
              <div class="panel-body faq-answer">
                The Sabah State Park assigns the official guide who will accompany you up Mt Kinabalu, so the guide is not provided by the provider you choose to book through. But it's a good idea to book a local company to do all the logistical work such as obtaining permits, booking accommodation and arranging transportation as it will save you the headache of doing it on your own.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div id="faq-carousel-indicators" class="carousel slide p-3" data-ride="carousel">
          <ol class="carousel-indicators mb-0">
          <li data-target="#faq-carousel-indicators" data-slide-to="0" class="active"></li>
          <li data-target="#faq-carousel-indicators" data-slide-to="1"></li>
          <li data-target="#faq-carousel-indicators" data-slide-to="2"></li>
          <li data-target="#faq-carousel-indicators" data-slide-to="3"></li>
          <li data-target="#faq-carousel-indicators" data-slide-to="4"></li>
          <li data-target="#faq-carousel-indicators" data-slide-to="5"></li>
          </ol>
          <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-block w-100">
              <h3>WHAT OTHER TRAVELLER SAY</h3>
              <p>“Booked through Seek Sophie - very responsive rep Mr Jackz Lee. Assigned mountain guides were professional n experience....encourage my fellow team mates along the way 👍 We trained for almost half a year...still is a tough climb, but we gain a lot from it 💪🏽”</p>
              <p class="card-text mb-4"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-block w-100">
              <h3>WHAT OTHER TRAVELLER SAY</h3>
              <p>“Booked through Seek Sophie - very responsive rep Mr Jackz Lee. Assigned mountain guides were professional n experience....encourage my fellow team mates along the way 👍 We trained for almost half a year...still is a tough climb, but we gain a lot from it 💪🏽”</p>
              <p class="card-text mb-4"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-block w-100">
              <h3>WHAT OTHER TRAVELLER SAY</h3>
              <p>“Booked through Seek Sophie - very responsive rep Mr Jackz Lee. Assigned mountain guides were professional n experience....encourage my fellow team mates along the way 👍 We trained for almost half a year...still is a tough climb, but we gain a lot from it 💪🏽”</p>
              <p class="card-text mb-4"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-block w-100">
              <h3>WHAT OTHER TRAVELLER SAY</h3>
              <p>“Booked through Seek Sophie - very responsive rep Mr Jackz Lee. Assigned mountain guides were professional n experience....encourage my fellow team mates along the way 👍 We trained for almost half a year...still is a tough climb, but we gain a lot from it 💪🏽”</p>
              <p class="card-text mb-4"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-block w-100">
              <h3>WHAT OTHER TRAVELLER SAY</h3>
              <p>“Booked through Seek Sophie - very responsive rep Mr Jackz Lee. Assigned mountain guides were professional n experience....encourage my fellow team mates along the way 👍 We trained for almost half a year...still is a tough climb, but we gain a lot from it 💪🏽”</p>
              <p class="card-text mb-4"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-block w-100">
              <h3>WHAT OTHER TRAVELLER SAY</h3>
              <p>“Booked through Seek Sophie - very responsive rep Mr Jackz Lee. Assigned mountain guides were professional n experience....encourage my fellow team mates along the way 👍 We trained for almost half a year...still is a tough climb, but we gain a lot from it 💪🏽”</p>
              <p class="card-text mb-4"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          </div>
        </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $('.collapse').on('shown.bs.collapse', function() {
    $(this).parent().find(".fa-plus").removeClass("fa-plus").addClass("fa-minus");
    $(this).parent().find('.accordion-toggle').addClass('active-faq');
  }).on('hidden.bs.collapse', function() {
    $(this).parent().find(".fa-minus").removeClass("fa-minus").addClass("fa-plus");
    $(this).parent().find('.accordion-toggle').removeClass('active-faq');
  });
</script>
