<section id="offer">
  <div class="container-fluid no-gutters">
    <h1 class="offer-title">Mount Kinabalu Climb </h1>
    <div class="about">
      <ul class="text-center mb-4">
        <li><i class="far fa-map-marker-alt"></i>Sabah, Malaysia</li>
        <li><i class="far fa-clock"></i>2 - 3 days</li>
        <li><img src='<%= asset_path "icons/missing-enabled.svg" %>' class="pr-2">Beginners to Advanced <i class="fal fa-question-circle text-muted"></i></li>
        <li><i class="fas fa-dollar-sign"></i>US$356 ~ $650</li>
      </ul>
      <div class="row ">
        <div class="col-lg-8 mx-auto">
          <div class="offer-description">
            <p class="mb-4">
              A climb up the famed UNESCO World Heritage site of Mt Kinabalu takes you through several dramatically different landscapes over the course of 24 hours.
              Dense Borneo rainforest gives way to an enchanted bonsai-like forest, to zen-rock garden and finally to the dramatic moonscape at the summit where it feels
              like you are walking on the surface of the moon.
            </p>

            <span><b>Best time to visit:</b></span>
            <p>October / March. Avoid monsoon season from November - February.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
