<section id="header">
    <div class="contact-us"><a href="#">Contact us</a>-guaranteed reponse without 1 hour</div>
    <nav class="container navbar navbar-expand-lg navbar-light p-0">
      <a class="navbar-brand" href="#"><%= image_tag("logo.png", :alt => "seek sophie",:class => "img-responsive") %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Destinations <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hiking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Wildlife</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Diving</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Culture</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Magazine</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <form class="form-inline my-2 my-lg-0 relative-form">
              <input class="form-control mr-sm-2 header-search" type="search" placeholder="Find an adventure" aria-label="Search">
              <i class="fal fa-search"></i>
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              us$
              <i class="far fa-suitcase"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
</section>
