#faqs {
  #faq-carousel-indicators {
    background-color: #F5F5F5;
  }
  .carousel-indicators li {
    background-color: #007BFB;
  }
  .carousel-inner {
    .carousel-item {
      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color: #000000;
        text-transform: uppercase;
      }
      p {
        font-style: italic;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #333333;

        .text-muted {
          font-style: italic;
          font-weight: bold;
          font-size: 14px;
          line-height: 24px;
          color: #000000 !important;
        }
      }
    }
  }
  .faq-answer, .faq-title {
    color: #000000;
  }
  .faq-answer {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  .faq-title {
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
  }
  .accordion-toggle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #007BFB;
  }
  .active-faq {
    color: #343a40;
    font-weight: bold;
  }
  .panel-default {
    border-bottom: 1px solid #E5E5E5;
  }
  .fa-plus, .fa-minus {
    line-height: 2;
  }
  .panel-group {
    border-top: 1px solid #E5E5E5;
  }
}
